.jumbotron {
    background-color:#4dd2ff !important; 
}

.btn{
	border-radius: 0;
	background:#404040;
	color:#4dd2ff;
	text-shadow: none;
}


.btn:hover {
  background:#595959 ;
  color:#4dd2ff;
}

.btn:active, .btn:focus, .btn:active:focus{
	background:#404040;
	color:#4dd2ff;
}


.navbar-collapse .navbar-nav > li > a:hover {
	color:#4dd2ff;
	text-shadow: none;
}

.navbar-header .navbar-nav > li > a:hover {
	webkit-filter: invert(100%);
    filter: invert(100%);
	text-shadow: none;
}