

.jumbotron {
    background-color:#262626;
	color:#b3b3b3;
	margin-top: -4%;
	margin-bottom: 0px;
	padding-left: 2%;
}

.containerNav{
	padding-left: 15px;
	padding-right: 15px;
	
}

.classwork {
  background-color: #262626;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 5%;
  padding-bottom: 2%;
}

.btn{
	border-radius: 10px;
	background:#262626;
	color:#33bbff;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn:hover {
  background:#595959 ;
  color:#33bbff;
}

.btn:active, .btn:focus, .btn:active:focus{
	background:#262626;
	color:#33bbff;
}

.btn-gray{
	border-radius: 10px;
	border-color:#737373;
	background:#ffffff;
	color:#262626;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-gray:hover {
	background:#33bbff;
	color:#262626;
}

.btn-gray:active, .btn-gray:focus, .btn-gray:active:focus{
	background:#ffffff;
	color:#262626;
}

.navbar-collapse .navbar-nav > li > a {
	color:#33bbff;
	text-shadow: none;
}

.navbar-header .navbar-nav > li > a:hover {
	webkit-filter: invert(100%);
    filter: invert(100%);
	text-shadow: none;
}

.navbar{
	margin-bottom: 0px;
	
}

hr.style{
	background-color: #fff;
	border-top: 3px solid #000000;
}

hr.gray{
	background-color: #b3b3b3;
	border-top: 3px solid #ffffff;;
}

html, body {
  width: auto;
  overflow-x: hidden;
}
