.color { 
background: linear-gradient(216deg, #EF776F, #E62B1E);
 background-size: 4000% 4000%;
 color: white;
-webkit-animation: AnimationName 60s ease infinite;


-moz-animation: AnimationName 60s ease infinite;

animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
     0%{background-position:0% 51%}
     50%{background-position:100% 50%}
     100%{background-position:0% 51%}
 }


@-moz-keyframes AnimationName {
     0%{background-position:0% 51%}
     50%{background-position:100% 50%}
     100%{background-position:0% 51%}
 }

@keyframes AnimationName { 
     0%{background-position:0% 51%}
     50%{background-position:100% 50%}
     100%{background-position:0% 51%}
 }
.red-text{
	color: #EF776F;
}
.brand{
	font-size: 25px;
	font-weight: bold;
}